<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
 <div class="col-sm-3">
        <h3>Select Position:</h3>
        <div id="positionList">
          <!-- Radio list will be dynamically generated here -->
        </div>
      </div>
    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
      // Function to populate the checkbox list with available positions
      function populatePositionList() {
        var positions = [];
        $('.person').each(function() {
          var memberPosition = $(this).find('.position').text().trim().split(',')[0];
          if (!positions.includes(memberPosition)) {
            positions.push(memberPosition);
            $('#positionList').append('<input type="checkbox" name="position" value="' + memberPosition + '"> ' + memberPosition + '<br>');
          }
        });
      }

      // Function to filter members based on the selected positions
      function filterMembersByPosition(positions) {
        $('.person').each(function() {
          var memberPosition = $(this).find('.position').text().trim().split(',')[0];
          if (positions.includes(memberPosition) || positions.length === 0) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }

      // Initial population of the position list
      populatePositionList();

      // Event listener for checkbox change
      $('input[type=checkbox][name=position]').change(function() {
        var selectedPositions = [];
        $('input[type=checkbox][name=position]:checked').each(function() {
          selectedPositions.push($(this).val());
        });
        filterMembersByPosition(selectedPositions);
      });

</script>



  </body>

</html>
